<h1>Create a new Post</h1>

<form action="/posts" method="post">
  <p>
    <label>Post Title</label>
    <input type="text" name="post[title]"/>
  </p>

  <p>
    <label>Author Name</label>
    <input type="text" name="post[author_name]"/>
  </p>

  <p>
    <label>Post Content</label>
    <TEXTAREA NAME="post[content]"></TEXTAREA>
  </p>

  </br>
  <ul>
    <label>Tags:</label>
    <% @tags.each do |tag| %>
     <li><input type="checkbox" name="post[tag_ids][]" value="<%= tag.id %>"> <%= tag.name %> </li>
    <% end %> 
    </br>    
    <li>Other: <input type="text" name="post[tags_to_add_by_name]"></li> 
  </ul>

  </br>
  <input type="submit" value="Submit" id="submit" />
</form>
