<h1>Create a new Post</h1>

<form action="/posts" method="post">
  <p>
  	<label>Post Title</label>
  	<input type="text" name="post[title]"/>
  </p>

  <p>
  	<label>Author Name</label>
  	<input type="text" name="post[author_name]"/>
  </p>

  <p>
    <label>Post Content</label>
    <TEXTAREA NAME="post[content]"></TEXTAREA>
  </p>

  <ul>
    <label>Tags:</label>
    <% @tags.each do |tag| %>
     <li> <%= tag.name %> <input type="checkbox" name="tag_ids[]" value="<%= tag.id %>"></li>
    <% end %>  
  </ul>

  <input type="submit" value="Submit" id="submit" />
</form>
