<h1>Create a new Post</h1>

<form action="/posts" method="post">
	<p>
  	<label>Post Title</label>
  	<input type="text" name="post[title]"/>
  </p>

  <p>
  	<label>Author</label>
  	<input type="text" name="author_name"/>
  </p>

	<p>
	  <label>Post Content</label>
	  <TEXTAREA NAME="post[content]"></TEXTAREA>
  </p>	
  
  <input type="submit" value="Submit" id="submit" />
</form>
