<h1>Create a new Post</h1>

<form action="/posts" method="post">
	<p>
  	<label>Post Title</label>
  	<input type="text" name="post[title]"/>
  </p>

	<p>
	  <label>Post Content</label>
	  <TEXTAREA NAME="post[content]" COLS=40 ROWS=6></TEXTAREA>
  </p>	

<!--   <label>Author Name</label>
  <input type="text" name="song[artist_name]"/> -->
  <input type="submit" value="Submit" />
</form>
